{{define "layout"}}
<html>
	{{range .}}
		{{if eq .Name "Head"}}
			{{.Html}}
		{{end}}
	{{end}}
	<body id="body">
		{{range .}}
			{{if ne .Name "Head"}}
				{{.Html}}
			{{end}}
		{{end}}
		
		<script type="text/javascript">
			WebFontConfig = {
				google: { families: [ 'Open+Sans:400,700,600,800,800italic,700italic,600italic,400italic,300italic,300:latin' ] }
			};
		
			(function() {
				var js = document.createElement("script");
				js.type = "text/javascript";
				js.src = "/content/javascript/site.js";
				document.getElementsByTagName("head")[0].appendChild(js);
			})();
			
			(function() {
				var wf = document.createElement('script');
				wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
				wf.type = 'text/javascript';
				wf.async = 'true';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wf, s);
			})();
		</script>
	</body>
</html>
{{end}}
