.ft-body {
	margin: 0px;
}

/*** Body Loading ***/


#ft-loading {
	display: block;
	text-align: center;
	font-family: sans-serif;
	color: #fcfcfc;
}

#ft-loading.ft-container {
	z-index: -1;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(0,0,0,0.20);
}

#ft-loading.ft-visible {
	z-index: 99;
	opacity: 1;
	transition: 1s;
}

#ft-loading .ft-msg {
	position: relative;
	top: 60px;
	margin-top: 50%;
	font-size: 60px;
	animation: rotate linear 0.8s;
	animation-iteration-count: infinite;
	-webkit-animation: rotate linear 0.8s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: rotate linear 0.8s;
	-moz-animation-iteration-count: infinite;
	-o-animation: rotate linear 0.8s;
	-o-animation-iteration-count: infinite;
	-ms-animation: rotate linear 0.8s
	-ms-animation-iteration-count: infinite;
}

@-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (orientation : landscape) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	#ft-loading .ft-msg {
		margin-top: 35%;
		font-size: 45px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#ft-loading .ft-msg {
		margin-top: 25%;
		font-size: 60px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	#ft-loading .ft-msg {
		margin-top: 20%;
		font-size: 80px;
	}
}
/*** Body Loading END ***/

/*** Body Header ***/
#ft-header {
	z-index: 98;
	position: absolute;
	display: block;
	top: 0px;
	left: -75%;
	width: 75%;
	min-height: 100%;
	font-family: sans-serif;
	background-color: #161616;
	transition: 1s;
}

#ft-header.ft-open {
	left: 0%;
	transition: 1s;
}

#ft-header .ft-logo {
	display: none;
	width: 110px;
	height: 110px;
	padding: 35px;
}

#ft-header .ft-firstname,
#ft-header .ft-lastname {
	position: absolute;
	display:none;
	top: 100px;
	left: 54%;
	font-size: 35px;
	letter-spacing: 7px;
}

#ft-header .ft-lastname {
	left: 78%;
	color: red;
}

#ft-header .ft-firstname {
	color: #DFDFDF;
}

	#ft-header nav {
		margin: 25px 0px 25px 0px;
	}

	#ft-header nav ul {
		margin: 0;
		padding: 0 5px 0 0;
	}

		#ft-header nav ul li {
			margin: 10px 10px 15px 10px;
		}

			#ft-header nav ul li a {
				display: block;
				padding: 7px;
				font-size: 14px;
				text-decoration: none;
				color: #fcfcfc;
			}
			
				#ft-header nav ul li a div.ft-active {
					position: relative;
					top: 12px;
					width: 60%;
					border-bottom: 1px solid #2c2c2c;	
				}

				#ft-header nav ul li a span {
					line-height: 18px;
					text-decoration: none;
					font-size: 16px;
				}

				#ft-header nav ul li a span.ft-sub-menu-btn {
					float: right;
					font-size: 20px;
					padding: 0px 15px;
				}
				
				#ft-header nav ul li a span.ft-notification-number {
					display: inline-block;
					float: right;
					width: 50px;
					margin-top: -10px;
					text-align: center;
					font-size: 12px;
					line-height: 38px;
					color: #fcfcfc;
				}

	#ft-header nav ul.ft-sub-menu {
		height: auto;
		overflow: hidden;
		margin: 0;
		padding: 0 5px 0 0;
		transition: 1s;
	}
	
		#ft-header nav ul.ft-sub-menu li {
			margin: 10px;
		}
		
		#ft-header nav ul.ft-sub-menu li:last-child {
			margin-bottom: 0px;
		}
	
			#ft-header nav ul.ft-sub-menu li a {
			}
	
#ft-header .ft-foot {
}

	#ft-header .ft-foot a {
		display: block;
		width: 70%;
		line-height: 16px;
		padding: 10px;
		margin: 10px;
		text-align: left;
		text-decoration: none;
	}
	
	#ft-header .ft-foot  span.ft-label {
		font-size: 14px;
		padding-bottom: 2px;
		border-bottom: 1px solid #fcfcfc;
		color: #fcfcfc;
	}

#ft-header-background.ft-container {
	z-index: 0;
	position: fixed;
	display: block;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(0,0,0,0.20);
	transition: 1s;
}

#ft-header-background.ft-container.ft-menu-open {
	z-index: 97;
	opacity: 1;
	transition: 1s;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (orientation : landscape) {
	#ft-header {
		height: auto;
	}
}

/* Extra Small Devices, M-Phones */
@media only screen and (min-width : 375px) {
	#ft-header {
		width: 65%;
		left: -65%;
	}
}

/* Extra Small Devices, L-Phones */
@media only screen and (min-width : 480px) {
	#ft-header {
		width: 60%;
		left: -60%;
	}
}

/* Small Devices, XS-Tablets */
@media only screen and (min-width : 500px) {
	#ft-header {
		width: 55%;
		left: -55%;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	#ft-header {
		width: 45%;
		left: -45%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#ft-header {
		width: 20%;
		left: -20%;
		transition: 1s;
	}
	
				#ft-header nav ul li a span.ft-sub-menu-btn {
					float: right;
					font-size: 20px;
					padding: 0px 5px;
				}
	
				#ft-header nav ul li a span.ft-notification-number {
					width: 30px;
				}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*** Body Header END ***/

/*** Body Button ***/

.ft-btn {
	display: block;
	width: 52px;
	height: 50px;
	letter-spacing: 2px;
	font-family: sans-serif;
	background-color: rgb(211, 0, 0);
	color: #FCFCFC;
	text-decoration: none;
}

.ft-btn.ft-icon {
	width: 62px;
	height: 62px;
	line-height: 62px;
	font-size: 24px;
	text-align: center;
	border-radius: 500px;
	background-color: rgba(211, 0, 0, 0.51);
	box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.16);
}

	.ft-btn.ft-icon:before {
		margin: 0 0 0 3px;
	}

.ft-btn.ft-icon.ft-main-function {
	z-index: 98;
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 120px;
	height: 120px;
	font-size: 90px;
	line-height: 120px;
}

.ft-btn.ft-menu,
.ft-btn.ft-layout {
    position: absolute;
    display: block;
    font-size: 38px;
    font-weight: normal;
    line-height: 52px;
    text-align: left;
    background-color: transparent;
    color: #fcfcfc;
}

	.ft-btn.ft-menu.ft-sub-menu-btn {
		top: 15px;
		right: 0px;
		margin-right: 2%;
	}

		.ft-btn.ft-menu.ft-sub-menu-btn.ft-pulse {
			animation-name: ft-pulse_animation;
			animation-duration: 1000ms;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}

.ft-btn.ft-menu {
	
}

.ft-sub-menu-btn {
}

.ft-btn.ft-layout {
	z-index: 98;
	float: right;
	width: 146px;
	height: 96px;
	margin-right: 40px;
	border: 2px solid #fff;
	border-radius: 15px;
	text-align: center;
	font-size: 50px;
	background-color: #000;
	-moz-box-shadow: inset 0 0 15px #999999;
	-webkit-box-shadow: inset 0 0 15px #999999;
	box-shadow: inset 0px 0px 15px #999999;
}

.ft-btn.ft-save,
.ft-btn.ft-next {
	position: fixed;
	display: none;
	right: 25px;
	top: 25px;
	width: 150px;
	height: 100px;
	font-size: 32px;
	font-weight: normal;
	line-height: 99px;
	letter-spacing: 2px;
	border: 2px solid #F00;
	border-radius: 15px;
	text-align: center;
	background-color: #AE0000;
	color: #fff;
	-moz-box-shadow: inset 0 0 15px #999999;
	-webkit-box-shadow: inset 0 0 15px #999999;
	box-shadow: inset 0px 0px 15px #B10000;
}

@keyframes ft-pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1.04); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1.1); }
	60% { transform: scale(1.08); }
	70% { transform: scale(1.04); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

@-moz-keyframes ft-pulse_animation {
	0% { -moz-transform:  scaleX(1.00) scaleY(1.00) ; }
	30% { -moz-transform:  scaleX(1.04) scaleY(1.04) ; }
	40% { -moz-transform:  scaleX(1.08) scaleY(1.08) ; }
	50% { -moz-transform:  scaleX(1.1) scaleY(1.1) ; }
	60% { -moz-transform:  scaleX(1.08) scaleY(1.08) ; }
	70% { -moz-transform:  scaleX(1.04) scaleY(1.04) ; }
	80% { -moz-transform:  scaleX(1.00) scaleY(1.00) ; }
	100% { -moz-transform:  scaleX(1.00) scaleY(1.00) ; }
}

@-o-keyframes ft-pulse_animation {
	0% { -o-transform:  scaleX(1.00) scaleY(1.00) ; }
	30% { -o-transform:  scaleX(1.04) scaleY(1.04) ; }
	40% { -o-transform:  scaleX(1.08) scaleY(1.08) ; }
	50% { -o-transform:  scaleX(1.1) scaleY(1.1) ; }
	60% { -o-transform:  scaleX(1.08) scaleY(1.08) ; }
	70% { -o-transform:  scaleX(1.04) scaleY(1.04) ; }
	80% { -o-transform:  scaleX(1.00) scaleY(1.00) ; }
	100% { -o-transform:  scaleX(1.00) scaleY(1.00) ; }
}

@-ms-keyframes ft-pulse_animation {
	0% { -ms-transform:  scaleX(1.00) scaleY(1.00) ; }
	30% { -ms-transform:  scaleX(1.04) scaleY(1.04) ; }
	40% { -ms-transform:  scaleX(1.08) scaleY(1.08) ; }
	50% { -ms-transform:  scaleX(1.1) scaleY(1.1) ; }
	60% { -ms-transform:  scaleX(1.08) scaleY(1.08) ; }
	70% { -ms-transform:  scaleX(1.04) scaleY(1.04) ; }
	80% { -ms-transform:  scaleX(1.00) scaleY(1.00) ; }
	100% { -ms-transform:  scaleX(1.00) scaleY(1.00) ; }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (orientation : landscape) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.ft-btn.ft-icon {
		width: 42px;
		height: 42px;
		line-height: 42px;
		font-size: 16px;
		box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.16);
	}
	
	.ft-sub-menu-btn {
		display: initial;
	}
		
	.ft-btn.ft-save,
	.ft-btn.ft-next {
		display: inline-block;
		bottom: 10px;
		top: initial;
		right: 10px;
		width: 60px;
		height: 60px;
		line-height: 27px;
		border-radius: 120px;
		font-size: 14px;
		cursor: pointer;
		border: none;
		background-color: rgba(211, 0, 0, 0.51);
		box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.16);
	}
	
	.ft-btn.ft-icon.ft-main-function {
		z-index: 98;
		right: 10px;
		bottom: 10px;
		width: 60px;
		height: 60px;
		font-size: 44px;
		line-height: 60px;
		box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.16);
	}
	
	.ft-btn.ft-layout {
		width: 60px;
		height: 60px;
		margin: 10px 0px 0px 0px;
		line-height: 57px;
		border-radius: 120px;
		font-size: 32px;
		border: none;
		cursor: pointer;
		background-color: rgba(211, 0, 0, 0.51);
		box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.16);
	}
		
	.ft-btn.ft-menu {
		display: none;
	}
	
	.ft-btn.ft-menu#ft-menu-btn,
	.ft-btn.ft-menu.ft-sub-menu-btn	{
		z-index: 99;
		position: fixed;
		display: block;
		background-color: #161616;
		left: 1%;
		text-align: center;
		border-radius: 6px;
		opacity: 0.7;
		cursor: pointer;
	}
	
	.ft-btn.ft-menu.ft-sub-menu-btn {
		top: initial;
		bottom: 80px;
		margin-bottom: 10px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.ft-btn.ft-menu#ft-menu-btn,
	.ft-btn.ft-menu.ft-sub-menu-btn{
		left: 0.5%;
	}
}

@media only screen and (min-width : 1325px) {
	.ft-btn.ft-save,
	.ft-btn.ft-next,
	.ft-btn.ft-icon.ft-main-function	{
		right: initial;
		margin-left: 1205px;
	}
}
/*** Body Button END ***/

/*** .Content ***/

.ft-content {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background-color: #fff;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (orientation : landscape) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.ft-content {
		position: absolute;
		width: 100%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*** Content END ***/

/*** Content Dangerous ***/

.ft-content .ft-dangerous {
	color: red;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (orientation : landscape) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*** Content Dangerous END ***/

/*** .Navigation ***/

.ft-navigation {
	z-index: 98;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 92%;
	height: 50px;
	padding: 15px 4% 15px 4%;
	text-align: center;
	background-color: #161616;
	transition: 1s;
}

	.ft-navigation h1 {
		width: 220px;
		height: 50px;
		margin: 0 auto;
		padding-left: 0;
		line-height: 50px;
		font-size: 20px;
		font-weight: normal;
		font-family: sans-serif;
		text-align: center;
		color: #fcfcfc;
	}
	
#ft-navigation-placeholder {
	width: 100%;
	height: 80px;
}

.ft-navigation .ft-done ,
.ft-navigation .ft-back{
	position: absolute;
	display: block;
	top: 0px;
	right: 0px;
	margin: 15px 4% 0 0;
	font-size: 38px;
	font-weight: normal;
	line-height: 52px;
	text-align: left;
	text-decoration: none;
	border: none;
	background-color: transparent;
	color: #fcfcfc;
}

.ft-navigation .ft-sub-menu {
	position: absolute;
	display: block;
	top: 80px;
	right: -190px;
	padding: 10px;
	margin: 0;
	list-style: none;
	background-color: #000;
	transition: 1s;
}

	.ft-navigation ul.ft-sub-menu li {
		padding: 5px;
		margin: 0 0 10px 0;
		text-align: left;
	}
	
		.ft-navigation ul.ft-sub-menu li a {
			display: block;
			text-decoration: none;
			font-size: 18px;
			font-family: sans-serif;
			color: #fcfcfc;
		}

.ft-navigation .ft-sub-menu.ft-open {
	right: 0px;
	transition: 1s;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (orientation : landscape) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.ft-navigation {
		position: fixed;
		bottom: 80px;
		top: initial;
		right: 10px;
		left: initial;
		height: auto;
		width: 60px;
		padding: 0px;
		background-color: transparent;
		transition: .5s;
		transition-delay: .5s;
	}
	
	.ft-navigation.ft-open {
		opacity: 0;
		transition: .25s;
		transition-delay: 0s;
	}
	
		.ft-navigation h1 {
			display: none;
		}
		
		#ft-navigation-placeholder {
			display: none;
		} 
		
		.ft-navigation .ft-done ,
		.ft-navigation .ft-back{
			display: none;
		}

		.ft-navigation .ft-sub-menu {
			z-index: 99;
			position: fixed;
			top: initial;
			right: initial;
			bottom: 80px;
			left: 0.5%;
			padding: 0;
			margin: 0 0 19px 67px;
			background-color: transparent;
			overflow: hidden;
		}
		
		.ft-navigation .ft-sub-menu.ft-open {
			right: initial;
			transition: 1s;
		}
		
		.ft-navigation ul.ft-sub-menu li {
			min-width: 100px;
			width: auto;
			max-width: 200px;
			padding: 10px;
			margin: 0 0 0 -250px;
			background-color: #161616;
			border-radius: 6px;
			opacity: 0.7;
			transition: 1s;
		}
		
		.ft-navigation ul.ft-sub-menu.ft-open li {
			right: initial;
			margin-left: 0;
			transition: 1s;
		}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.ft-navigation.ft-open {
		opacity: 1;
	}
}

@media only screen and (min-width : 1325px) {
	.ft-navigation {
		right: initial;
		margin-left: 1205px;
	}
}
/*** .Navigation END ***/

/*** .Dashbaord ***/

.ft-dashboard {
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (orientation : landscape) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*** Body Content.Dashboard END ***/

/*** Body Content.Mange.Section ***/

.ft-content.ft-manage.ft-sections {
}

	.ft-content.ft-manage .ft-sections {
		width: 100%;
		top: 150px;
	}
	
			.ft-content.ft-manage .ft-sections .ft-container .ft-save-form  {
				margin: 0;
				padding: 0 ;
			}

			.ft-content.ft-manage .ft-sections .ft-container .ft-tools {
				z-index: 96;
				position: absolute;
				right: 0;
				margin: 20px 35px 0 ;
				list-style: none;
				padding: 0;
			}

				.ft-content.ft-manage .ft-sections .ft-container .ft-tools .ft-edit,
				.ft-content.ft-manage .ft-sections .ft-container .ft-tools .ft-save  {
					display: inline;
					padding: 0 10px 0 0;
				}
				
			.ft-content.ft-manage .ft-sections .ft-container .ft-site-content {
				position: absolute;
			}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (orientation : landscape) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.ft-content.ft-manage .ft-sections {
		position: relative;
		top: 0;
		width: auto;
	}
	
		.ft-content.ft-manage .ft-sections .ft-container .ft-tools {
			margin: 0px 35px 0 0;
		}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*** Body Content.Manage.Section END ***/

/*** Body Content.Create.Section,
 		 Body Content.Edit.Section	***/

.ft-content.ft-create.ft-section,
.ft-content.ft-edit.ft-section {
}

	.ft-content.ft-edit.ft-section .ft-btn.ft-menu.ft-sub-menu-btn,
	.ft-content.ft-create.ft-section .ft-btn.ft-menu.ft-sub-menu-btn{
		display: none;
	}

	.ft-content.ft-create.ft-section form,
	.ft-content.ft-edit.ft-section form {
		margin: 80px 0 0 0;
		padding: 10px;
	}

		.ft-content.ft-create.ft-section input[type="text"].ft-name,
		.ft-content.ft-edit.ft-section input[type="text"].ft-name,
		.ft-content.ft-create.ft-section input[type="text"].ft-order,
		.ft-content.ft-edit.ft-section input[type="text"].ft-order		{
			width: 100%;
			margin: 0 0 10px 0;
			padding: 5px;
			font-size: 18px;
			border: 1px solid #252622;
			background-color: #252622;
			color: #fcfcfc;
			
		}

		.ft-content.ft-edit.ft-section input[type="number"].ft-order {
			width: 100%;
			margin: 0 0 40px 0;
			font-size: 42px;
			border: 1px solid #000;
		}

		.ft-content.ft-create.ft-section .ft-script-editor,
		.ft-content.ft-edit.ft-section .ft-script-editor {
			margin-bottom: 10px;
		}

		.ft-content.ft-edit.ft-section input[type="checkbox"],
		.ft-content.ft-create.ft-section input[type="checkbox"] {
			float: right;
			width: 50px;
			height: 50px;
			margin: 0 0 0 0;
		}

		.ft-content.ft-create.ft-section span.ft-lbl,
		.ft-content.ft-edit.ft-section span.ft-lbl {
			display: inline-block;
			margin: 0 0 5px 0;
			font-size: 15px;
			font-family: sans-serif;
		}

			.ft-content.ft-edit.ft-section span.ft-lbl.ft-checkbox-lbl,
			.ft-content.ft-create.ft-section span.ft-lbl.ft-checkbox-lbl {
				margin: 20px 0 25px 0;
			}
		
		.ft-content.ft-create.ft-section input[type="submit"].ft-create-btn {
			z-index: 98;
			position: absolute;
			top: 0px;
			right: 0px;
			margin: 15px 4% 15px 4%;
			padding: 7px 0;
			border: none;
			font-size: 36px;
			background-color: transparent;
			color: #fcfcfc;
			cursor: pointer;
		}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (orientation : landscape) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
		.ft-content.ft-create.ft-section input[type="submit"].ft-create-btn {
			z-index: 98;
			position: relative;
			top: 0px;
			right: 0px;
			margin: 0;
			padding: 0;
			border: none;
			font-size: 18px;
			color: #fcfcfc;
		}
		
		.ft-content.ft-edit.ft-section input[type="submit"].ft-save {
			z-index: 98;
			position: relative;
			top: 0px;
			right: 0px;
			margin: 0;
			padding: 0;
			border: none;
			font-size: 18px;
			color: #fcfcfc;
			background-color: transparent;
			cursor: pointer;
		}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.ft-content.ft-edit.ft-section .ft-btn.ft-menu.ft-sub-menu-btn,
	.ft-content.ft-create.ft-section .ft-btn.ft-menu.ft-sub-menu-btn{
		display: block;
	}

	.ft-content.ft-create.ft-section form,
	.ft-content.ft-edit.ft-section form {
		margin: 0;
		padding: 15px 15px 140px 15px;
	}
	
	.ft-content.ft-create.ft-section textarea.ft-html,
	.ft-content.ft-create.ft-section textarea.ft-css,
	.ft-content.ft-create.ft-section textarea.ft-javascript,
	.ft-content.ft-edit.ft-section textarea.ft-html,
	.ft-content.ft-edit.ft-section textarea.ft-css,
	.ft-content.ft-edit.ft-section textarea.ft-javascript {
		font-size: 18px;
	}
	
		.ft-content.ft-create.ft-section input[type="text"].ft-name,
		.ft-content.ft-edit.ft-section input[type="text"].ft-name,
		.ft-content.ft-create.ft-section input[type="text"].ft-order,
		.ft-content.ft-edit.ft-section input[type="text"].ft-order {
			width: 100%;
			font-size: 18px;
		}
		
		.ft-content.ft-create.ft-section span.ft-lbl,
		.ft-content.ft-edit.ft-section span.ft-lbl {
			font-size: 18px;
		}
		
		.ft-content.ft-edit.ft-section input[type="checkbox"] {
			width: 40px;
			height: 40px;
			margin: 0 0 0 0;
		}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
/*** Body Content.Create.Section END ***/
